@import "../styles/main.scss";

.createAccountForm {
  padding: 40px;
  Button {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  a {
    color: $accent-color;
    font-size: 13pt;
  }
  .centerRow {
    display: flex;
    justify-content: center;
  }
  .blueButton, .blueButton:active, .blueButton:enabled {
    width: 70%;
    background-color: $accent-color;
    border-color: $accent-color;
    border-radius: 12px;
    color: black;
    font-weight: bold;
  }

  .blueButton:disabled {
    background-color: $gray;
    border-color: $gray;
  }

  .blueButton:hover {
    background-color: $accent-color-2;
    border-color: $accent-color-2;
  }
  .form-label {
    margin-top: 10px;
  }
  .form-control, .form-control:active, .form-control:enabled {
    color: $gray;
    background-color: $background-color;
    box-shadow: none;
  }
  .redText {
    color: $warning;
  }
}

.mainContainer {
  .centerHeader {
    color: $accent-color;
    text-align: center;
  }
}