#nav-bar {
  text-align: left;
}

#gate-guard-logo {
  width: 50px;
  margin-right: 10px;
}

#nav-container {
  margin-left: 0px;
}

.noTextDeco {
  text-decoration: none;
  color: inherit;
}

.noTextDeco:hover {
  color: inherit;
}

.navGreetings {
  font-weight: bold;
}